<head>
    <link rel="stylesheet" href="/css/home2.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <p>Categorias</p>
    </header>

    <main>
      {{#each books}}
        <div class="categorias">
            <div class="livros">
                <a class="livros-a" href="#">
                    <div>{{this.title}}</div>
                </a>
            </div>
        </div>

        <div>
          <form action="/book/books/delete/{{this.id}}" method="post">
          <button type="submit">DELETAR</button>
          </form>

            <a href="/book/books/update/{{this.id}}">EDITAR</a>
          </form>
        </div>
        {{/each}}

    </main>

    <footer>
    <a href=""> <img src="/assets/img/Home.png"></a>
    <a href=""> <img src="/assets/img/Search.png"></a>
    <a href=""> <img src="/assets/img/Add.png"></a>
</footer>
</body>
</html>