    <head>
      <link rel="stylesheet" href="/css/home3.css">
    <link rel="stylesheet" href="/css/footer.css">
    </head>

    </head>
    
    <header>
        <p>Categorias</p>
    </header>

    <main>
        <div class="categorias">
            <div class="livros">
                <a class="livros-a" href="#">Livros</a>
            </div>
    
            <div class="periodicos">
                <a class="periodicos-a" href="#">Periódicos</a>
            </div>
    
            <div class="folhetos">
                <a class="folhetos-a" href="#">Folhetos</a>
            </div>
        </div>
    </main>

    <div class="btn">
      <button class="registerbooks"><a href="/registerBook">Novo livro</a></li></button> 
      <button class="allbooks"><a href="/allBooks">Livros cadastrados</a></li></button> 
    </div>

    <footer>
    <a href=""> <img src="/assets/img/Home.png"></a>
    <a href=""> <img src="/assets/img/Search.png"></a>
    <a href=""> <img src="/assets/img/Add.png"></a>
</footer>