    <head><link rel="stylesheet" href="/css/login.css"></head>
    <header>
        <div class="logo">
            <img class="logo-img" src="../public/assets/Group 1.svg" alt="">
            <p class="logo-name">Bibliosmmia</p>
        </div>

       <div class="welcome-login">
        <h1 class="welcome">Bem vindo!</h1>
        <p class="login-p">Login</p>
       </div>
    </header>
<main>
    <form action="/users/:id" method="GET">
      <input type="text" name="email" placeholder="E-mail">
      
      <input type="password" name="password" placeholder="Senha">
      
      <button type="submit">LOGIN</button>
    </form>
</main>