<head>
  <link rel="stylesheet" href="/css/adicionar.css" />
  <link rel="stylesheet" href="/css/footer.css">
</head>

<main>
  <div class="container">
    <h2>Adicione um novo livro:</h2>
    <form action="/book/books" method="POST">
          <p>Título:</p>
          <input type="text" name="title" placeholder="Digite aqui">
          <p>Autor:</p>
          <input type="text" name="author" placeholder="Digite aqui">
          <p>Editora do livro:</p>
          <input type="text" name="editor_book" placeholder="Digite aqui">
          <p>Categoria:</p>
          <input type="text" name="category" placeholder="Digite aqui">
      
      <button type="submit">CADASTRAR</button>
    </form>
  </div>
</main>

<footer>
    <a href="./allBooks.handlebars"> <img src="/assets/img/Home.png"></a>
    <a href=""> <img src="/assets/img/Search.png"></a>
    <a href=""> <img src="/assets/img/Add.png"></a>
</footer>
